;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 []

 :builds
 {:cli
  {:target :node-script
   :output-to "out/main/cli.js"
   :main life.cli/main}
  :test
  {:target    :node-test
   :output-to "out/test/main.js"
   :autorun   true}}}
